<footer class="footer-container page-margin ">
    <div class="margin15 txtCenter">
        <p class="fontSizeSM">Quick Links</p>
        <div >
            <a href="#">Homepage</a>     
            <a href="#">Roaming Information</a>  
            <a href="#">Service Fees</a>  
            <a href="#">Report Fraud</a>  
            <a href="#">Device Repair</a>  
        </div>
    </div>
    <div class="margin15 txtCenter">
        <p  class="fontSizeSM">Offers</p>
        <div >
            <a href="#">Mobile Plans</a>     
            <a href="#">Prepaid SIM</a>  
            <a href="#">Internet at Home</a>  
            <a href="#">5G Speed Option</a>  
            <a href="#">Saving Options</a>  
            <a href="#">Wi-Fi Calling</a>       
        </div>
    </div>
    <div class="margin15 txtCenter">
        <p  class="fontSizeSM">My yallo</p>
        <div >
            <a href="#">Account Login</a>     
            <a href="#">My Products</a>  
            <a href="#">Usage History</a>  
            <a href="#">Past Invoices</a>  
            <a href="#">Settings</a>       
        </div>
    </div>
    <div class="margin15 txtCenter">
        <p  class="fontSizeSM">About yallo</p>
        <div >
            <a href="#">Company</a>     
            <a href="#">Media Center</a>  
            <a href="#">Review & Awards</a>  
            <a href="#">Business Customers</a>  
            <a href="#">Reseller Login</a>   
        </div>
    </div>
</footer>